<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/buzzripper/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="buzzripper" />
            <add key="ClearTextPassword" value="0f88a31008c5c32aa159facf746bd60183efaf72 " />
        </github>
    </packageSourceCredentials>
</configuration>


